<div class="alert alert-danger {{checkLogout errorPutName}}" role="alert">
    {{errorPutName}}
</div>

<div class="flex flex-col md:flex-row">

    <div class="flex flex-col p-4 md:w-1/3 order-1 md:order-2 mb-4 md:mb-0">
        <form method="post" action="/products">
            <div class="mb-2 flex flex-col items-start">
                <label class="mb-3 block text-base font-medium text-[#07074D]">
                    Name
                </label>
                <input required value="{{input.productName}}" type="text" name="productName" id="name"
                    placeholder="Full Name" oninput="capitalizeFirstLetter(this)" minlength="1" maxlength="1000"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                <p class="text-red-500 ">{{errorMessageName}}</p>
            </div>

            <div class="mb-2 flex flex-col items-start">
                <label class="mb-3 block text-base font-medium text-[#07074D]">
                    Category
                </label>
                <select class="custom-select h-14" id="inputGroupSelect01" name="course">
                    {{#each Categories}}
                    <option value="{{this._id}}" {{checkSelect ../input.course this._id}}>
                        {{this.categoryName}}
                    </option>
                    {{/each}}
                </select>
            </div>
            <div class="mb-2 flex flex-col items-start">
                <label class="mb-3 block text-base font-medium text-[#07074D]">
                    price
                </label>
                <input required value="{{input.price}}" type="number" name="price" id="origin" placeholder="Origin"
                    min="0"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />

            </div>

            <div class="mb-2 flex flex-col items-start">
                <label class="mb-3 block text-base font-medium text-[#07074D]">
                    rank
                </label>
                <input required value="{{input.rating}}" type="number" name="rating" min="1" max="5" id="origin"
                    placeholder="Origin" min="0"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />

            </div>
            <div class="mb-2 flex flex-col items-start">
                <label class="mb-3 block text-base font-medium text-[#07074D]">
                    Image
                </label>
                <input required value="{{input.image}}" type="text" name="image" id="image" placeholder="Url image"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />

            </div>
            <div class="mb-2 flex flex-col items-start">
                <label class="mb-3 block text-base font-medium text-[#07074D]">
                    description
                </label>
                <input required value="{{input.description}}" type="text" name="description" id="image"
                   
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />

            </div>
            <div class="mb-2 flex flex-col items-start">
                <label class="mb-3 block text-base font-medium text-[#07074D]">
                    Is bestseller?
                </label>
                <div class="custom-control custom-radio">
                    <input checked value="false" type="radio" id="customRadio1" name="bestseller"
                        class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">NO</label>
                </div>

                <div class="custom-control custom-radio">
                    <input {{check input.bestseller}} type="radio" value="true" id="customRadio2" name="bestseller"
                        class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">YES</label>
                </div>
            </div>
            <div>
                <button type="submit"
                    class="btn btn-primary hover:shadow-form rounded-md  py-3 px-8 text-base font-semibold text-white ">
                    Submit
                </button>
            </div>
        </form>

    </div>

    <div class="flex flex-col p-4 md:w-2/3 md:order-1 order-2 md:pl-8">
        <style data-href="https://fonts.googleapis.com/icon?family=Material+Icons">
            @font-face {
                font-family: 'Material Icons';
                font-style: normal;
                font-weight: 400;
                src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.woff) format('woff')
            }

            .material-icons {
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 24px;
                line-height: 1;
                letter-spacing: normal;
                text-transform: none;
                display: inline-block;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                font-feature-settings: 'liga'
            }

            @font-face {
                font-family: 'Material Icons';
                font-style: normal;
                font-weight: 400;
                src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2')
            }

            .material-icons {
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 24px;
                line-height: 1;
                letter-spacing: normal;
                text-transform: none;
                display: inline-block;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                -webkit-font-feature-settings: 'liga';
                -webkit-font-smoothing: antialiased
            }
        </style>

        <div class="overflow-y-auto ">
            <table class=" table table-bordered">
                <thead class="table-dark">
                    <tr class="">
                        <th scope="col">image</th>
                        <th scope="col">Name</th>
                        <th scope="col">price</th>
                        <th scope="col">rank</th>
                        <th scope="col">bestseller</th>
                        <th scope="col">description</th>
                        <th scope="col">category</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                    {{#each Orchid}}
                    <tr class=" hover:bg-gray-200 " style="border-bottom: 1px solid #a1a1a1a1;">
                        <td class="" style="border-right: 1px solid #e5e3e3c8;">

                            <div class="text-sm ">
                                <img class="h-10 w-10 rounded-full object-cover object-center" src="{{this.image}}"
                                    alt="" />
                            </div>

                        </td>
                        <td class="" style="border-right: 1px solid #e5e3e3c8;">
                            <div class="flex gap-3   ">
                                <div class="text-sm ">
                                    <div class="font-medium text-gray-700">{{this.productName}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="" style="border-right: 1px solid #e5e3e3c8;">
                            <div class="flex gap-3   ">

                                <div class="text-sm ">
                                    <div class="font-medium text-gray-700">{{this.price}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="" style="border-right: 1px solid #e5e3e3c8;">
                            <div class="flex gap-3   ">

                                <div class="text-sm ">
                                    <div class="font-medium text-gray-700">{{this.rating }} </div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 w-20   " style="border-right: 1px solid #e5e3e3c8;">
                            <div class="flex gap-3   ">
                                <div class="text-sm ">
                                    <div class="font-medium text-gray-700">{{#if this.bestseller}}
                                        Yes
                                        {{else}}
                                        No
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="" style="border-right: 1px solid #e5e3e3c8;">
                            <div class="flex gap-3   ">

                                <div class="text-sm ">
                                    <div class="font-medium text-gray-700">{{this.description }} </div>
                                </div>
                            </div>
                        </td>
                        <td class="" style="border-right: 1px solid #e5e3e3c8;">
                            <div class="flex gap-3   ">

                                <div class="text-sm ">
                                    <div class="font-medium text-gray-700">
                                        {{#each ../Categories}}
                                        {{FunCategory this._id ../this.course this.categoryName }}
                                        {{/each}}
                                    </div>
                                </div>

                            </div>
                        </td>

                        <td class=" w-4 ">
                            <div class="flex justify-center gap-4 ">

                                <section x-data="{modalOpen: false}">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <button class="dropdown-item  flex gap-2" type="button" data-toggle="modal"
                                                data-id="{{this._id}}" data-target="#exampleModal">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="h-6 w-6"
                                                    x-tooltip="tooltip">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                </svg>
                                                Delete
                                            </button>

                                            <button class="dropdown-item flex gap-2" @click="modalOpen = true"
                                                x-data="{ tooltip: 'Edite' }">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="h-6 w-6"
                                                    x-tooltip="tooltip">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                                </svg>
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                    <div x-show="modalOpen" x-transition
                                        class="fixed top-0 left-0 flex h-full min-h-screen w-full items-center z-30 justify-center bg-black bg-opacity-90 px-4 py-5">
                                        <div @click.outside="modalOpen = true"
                                            class="w-3/4   rounded-lg  bg-white py-12 px-8 text-center md:py-[60px] md:px-[70px]">
                                            <div class="flex justify-end mb-2">
                                                <button @click="modalOpen = false"><svg
                                                        xmlns="http://www.w3.org/2000/svg" height="2em"
                                                        viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                        <path
                                                            d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z" />
                                                    </svg></button>
                                            </div>
                                            <div class="mx-auto  w-full   ">
                                                <form method="post" action="/products/{{this._id}}?_method=PUT">
                                                    <div class="flex items-center justify-center overflow-y-auto ">
                                                        <div class=" mx-auto  w-full h-96  max-w-[550px] ">

                                                            <div class="mb-2 flex flex-col items-start">
                                                                <label
                                                                    class="mb-3 block text-base font-medium text-[#07074D]">
                                                                    Name
                                                                </label>
                                                                <input required value="{{this.productName}}" type="text"
                                                                    oninput="capitalizeFirstLetter(this)"
                                                                    name="productName" id="name" placeholder="Full Name"
                                                                    minlength="1" maxlength="1000"
                                                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                                                            </div>

                                                            <div class="mb-2 flex flex-col items-start">
                                                                <label
                                                                    class="mb-3 block text-base font-medium text-[#07074D]">
                                                                    Category
                                                                </label>
                                                                <select class="custom-select h-14"
                                                                    id="inputGroupSelect01" name="course">
                                                                    {{#each ../Categories}}
                                                                    <option value="{{this._id}}" {{checkSelect
                                                                        ../this.course this._id}}>
                                                                        {{this.categoryName}}

                                                                    </option>
                                                                    {{/each}}

                                                                
                                                                </select>
                                                            </div>
                                                            <div class="mb-2 flex flex-col items-start">
                                                                <label
                                                                    class="mb-3 block text-base font-medium text-[#07074D]">
                                                                    price
                                                                </label>
                                                                <input required value="{{this.price}}" type="number"
                                                                    name="price" id="origin" placeholder="Origin"
                                                                    min="0"
                                                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />

                                                            </div>
                                                            
                                                            <div class="mb-2 flex flex-col items-start">
                                                                <label
                                                                    class="mb-3 block text-base font-medium text-[#07074D]">
                                                                    Image
                                                                </label>
                                                                <input required value="{{this.image}}" type="text"
                                                                    name="image" id="image" placeholder="Url image"
                                                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />

                                                            </div>
                                                            <div class="mb-2 flex flex-col items-start">
                                                                <label
                                                                    class="mb-3 block text-base font-medium text-[#07074D]">
                                                                    rank
                                                                </label>
                                                                <input required value="{{this.rating}}" type="number"
                                                                    name="rating" min="1" max="5" id="origin"
                                                                    min="0"
                                                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />

                                                            </div>
                                                            <div class="mb-2 flex flex-col items-start">
                                                                <label
                                                                    class="mb-3 block text-base font-medium text-[#07074D]">
                                                                    description
                                                                </label>
                                                                <input required value="{{this.description}}"
                                                                    type="text" name="description" id="image"
                                                                  
                                                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />

                                                            </div>
                                                            <div class="mb-2 flex flex-col items-start">
                                                                <label
                                                                    class="mb-3 block text-base font-medium text-[#07074D]">
                                                                    Is bestseller
                                                                </label>
                                                                <div class="custom-control custom-radio">
                                                                    <input value="false" checked type="radio"
                                                                        id="{{this._id}}" name="bestseller"
                                                                        class="custom-control-input">
                                                                    <label class="custom-control-label"
                                                                        for="{{this._id}}">NO</label>
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input {{#if this.bestseller}} checked {{/if}}
                                                                        type="radio" value="true" id="{{this._id}}3"
                                                                        name="bestseller" class="custom-control-input">
                                                                    <label class="custom-control-label"
                                                                        for="{{this._id}}3">YES</label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div>
                                                        <button type="submit"
                                                            class="btn btn-primary hover:shadow-form rounded-md  py-3 px-8 text-base font-semibold text-white ">
                                                            Submit
                                                        </button>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </section>




                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-delete" class="btn btn-danger">Xóa </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>



        {{!-- delete from --}}

        <form method="post" name="delete-from">
        </form>
        <script>
            function capitalizeFirstLetter(input) {
                var value = input.value;
                var words = value.split(" ");
                for (var i = 0; i < words.length; i++) {
                    words[i] = words[i].charAt(0).toUpperCase() + words[i].slice(1);
                }
                input.value = words.join(" ");
            }
        </script>
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                var courseId;
                var deleteFrom = document.forms['delete-from']
                var btnDelete = document.getElementById('btn-delete')
                $('#exampleModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget) // Button that triggered the modal
                    courseId = button.data('id') // Extract info from data-* attributes

                })

                btnDelete.onclick = function () {
                    deleteFrom.action = '/products/' + courseId + '?_method=DELETE'
                    deleteFrom.submit()
                }

            })

        </script>
    </div>
</div>